.radio_section{
    background-color: var(--container);
    width: 100%;
    min-height: 400px;
}

.radio_container{
    display: flex;
    flex-wrap: wrap;
    gap: 14px;

}

/* @media (min-width: 760px){
    .radio_section{
        width: 740px;
    }

}

@media (min-width: 990px){
    .radio_section{
        width: 970px;
    }

} */