.radio{
    background-color: var(--card-background);
    width: 240px;
    padding: 20px 16px;
    border-radius: 12px;
    position: relative;
    overflow: hidden;

}

.radio_name{
    text-align: center;
    font-size: 14px;
    margin: 14px;
    color: var(--text);
    
}

.radio_img{
    border-radius: 12px;
    display:block ;
    margin: auto;
    
}

.radio_audio{
    
    display: flex;
    margin: auto;
    width: 220px;
}



