:root {
  --grid-layout-main-gap: 8px;
  --main:rgb(195, 46, 46);
  --secundary: rgb(215, 68, 68);
  --white:#fff;
  --card-background:#f2f2f0;
  --text:#403f37;              
    
  --nav-horizontal-height: 49px;
  --header-height: 84px;
}

.grid-layout {
  display: grid;
  grid-template-columns: auto;
  margin: var(--grid-layout-main-gap);
  margin-top: 0;
  max-height: 100vh;
}

@media only screen and (min-width: 768px) {
  .grid-layout {
    grid-template-columns: 280px auto;
  }
}

.grid-main-space {
  max-height: calc(100vh - calc(var(--header-height) + var(--grid-layout-main-gap)));
}

.custom-header {
  height: var(--header-height);
}

/* .custom-nav-horizontal {
  height: var(--nav-horizontal-height);
} */